<div
	?disabled="${props.disabled}"
	class="
		form-control
		${props.inline ? 'inline' : ''}
		${props.horizontal ? 'horizontal' : ''}
		${props.right ? 'right' : ''}
		${props._valid ? 'valid' : 'invalid'}
	">

	${props.label
		? html`<label class="label">${props.label}</label>`
		: null
	}
	
	<label
		tabindex="${props.disabled ? -1 : 0}"
		class="sublabel ${!!props.value ? 'active' : ''}"
		@keypress="${this._onkeypress.bind(this, props.value)}">
		<b class="checkbox"></b>
		${props.sublabel}
		<input
			hidden
			tabindex="-1"
			type="checkbox"
			name="${props.name}"
			.value="${props.value}"
			?checked="${!!props.value}"
			@change="${this._onchange.bind(this)}"
			@click="${this._onclick.bind(this, props.value)}">
	</label>

	${props._eMsg || props.subtext
		? html`<span class="subtext">${props._eMsg || props.subtext}</span>`
		: null
	}
<div>

<link rel="stylesheet" href="../styles/rb-checkbox.css">