<div
	?disabled="${props.disabled}"
	class="
		form-control
		${props.right ? 'right' : ''}
		${props.label && 'with-label'}
		${props.inline ? 'inline' : ''}
		${props._valid ? 'valid' : 'invalid'}
		${props.horizontal ? 'horizontal' : ''}
		${state.slots.popover ? 'with-popover' : ''}
	">
	${props.label || state.slots.popover
		? html`
			<div class="label">
				${state.slots.popover
					? html`<slot name="popover"></slot>`
					: null
				}
				${props.label
					? html`<label>${props.label}</label>`
					: null
				}
			</div>
		`: null
	}
	<label
		tabindex="${props.disabled ? -1 : 0}"
		class="sublabel ${!!props.value ? 'active' : ''}"
		@keypress="${this._onkeypress.bind(this, props.value)}">
		<b class="checkbox"></b>
		${props.sublabel}
		<input
			hidden
			tabindex="-1"
			type="checkbox"
			name="${props.name}"
			.value="${props.value}"
			?checked="${!!props.value}"
			@click="${this._onclick.bind(this, props.value)}">
	</label>

	${props._eMsg || props.subtext
		? html`<span class="subtext">${props._eMsg || props.subtext}</span>`
		: null
	}
<div>

<link rel="stylesheet" href="../styles/rb-checkbox.css">