/***********
 * CHECKBOX
 ***********/
.checkbox {
	position: relative;
	top: -1px;
	margin-right: 6px;
	&::before, &::after {
		opacity: 0;
		position: absolute;
		transition: all .3s;
		content: '';
	}
	&::before {
		border-radius: 50%;
	}
}

/* Dimensions
 *************/
.checkbox {
	$dim: 16px;
	width: $dim;
	height: $dim;
	min-width: $dim;
	min-height: $dim;
	&::before { // outer square
		$dim: 220%;
		$coords: -61%;
		top: $coords;
		left: $coords;
		width: $dim;
		height: $dim;
	}
	&::after { // the check
		$dim: 50%;
		$coords: 28%;
		$width: remy(3.5);
		top: $coords / 5;
		left: $coords;
		width: $dim / 2;
		height: $dim;
		border-style: solid;
		border-width: 0 $width $width 0;
		transform: rotate(45deg); // rotate L to make checkmark
	}
}

/* States
 *********/
.sublabel {
	&:focus { outline: none; }
	&:focus .checkbox::before,
	&:hover .checkbox::before { opacity: .1; }
	&.active .checkbox::after { opacity: 1; }
}