/**********************
 * FORM CONTROL COLORS
 **********************/
$formControlColors: (
	text: (
		invalid: (
			default: mapGet($palette, redDark)
		),
		subtext: (
			default: mapGet($palette, blueGreyLight)
		),
		controlLabel: (
			default: mapGet($palette, xxGreyDark)
		),
		sublabel: (
			default: mapGet($palette, xGreyDark)
		)
	),
	bg: (
		active: (
			default: mapGet($palette, blueDark)
		),
		invalid: (
			default: mapGet($palette, redDark)
		)
	),
	borders: (
		active: (
			default: mapGet($palette, blueDark)
		),
		invalid: (
			default: mapGet($palette, redDark)
		),
		checkbox: (
			default: mapGet($palette, grey)
		)
	)
);