/*********
 * LABELS
 *********/
.control-label {
	margin-bottom: remy(7);
	cursor: text;
	color: mapGet($formControlColors, text, controlLabel, default);
}

.sublabel {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	color: mapGet($formControlColors, text, sublabel, default);
	margin-bottom: remy(10);
}