/**********
 * OPTIONS
 **********/
&.inline {
	display: inline-flex;
}

&.right {
	align-items: flex-end;
	.control-label {
		flex-direction: row-reverse;
	}
	.sublabel {
		flex-direction: row-reverse;
	}
	.checkbox {
		margin-right: 0;
		margin-left: remy(6);
	}
}

&.horizontal {
	flex-direction: row;
	.control-label {
		padding-right: remy(10);
	}
	.sublabel {
		flex-direction: row;
	}
	&.right {
		.sublabel {
			flex-direction: row-reverse;
		}
	}
}
